@{
    ViewBag.Title = "Index";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                TODO: Create featured content to show
            </p>
        </div>
    </section>
}
    <section class="body">
        <div class="content-wrapper">
            TODO: Place home page content here
        </div>
    </section>
